{% extends "base.html" %}

{% block hero_content %}
  <h2>There is always space for one more</h2>
{% endblock %}

{% block content %}
  {% from "security/_macros.html" import render_field_with_errors, render_field %}

  <div class="container">
    <p>It's great to see you here. This is the final stage to gaining access to your personal profile at cucco.io. It seems that you haven't identified yourself as yet. Don't be shy, please login using the login form below. Is it your first time on cucco.io? Create a new account. It will only take you a minute.</p>
    <div class="row">
      <div class="box column">
        <h3>Create a new account</h3>
        <form action="{{ url_for('users.login') }}"
              method="POST" name="register_user_form">
          {{ signup_form.hidden_tag() }}
          {{ render_field_with_errors(signup_form.username) }}
          {{ render_field_with_errors(signup_form.email) }}
          {{ render_field_with_errors(signup_form.password) }}
          {{ render_field_with_errors(signup_form.confirm) }}
          <input class="button-primary" type="submit" name="signup" value="Sign up">
        </form>
      </div>
      <div class="box column">
        <h3>Login</h3>
        <form action="{{ url_for('users.login') }}"
              method="POST" name="login_user_form">
          {{ login_form.hidden_tag() }}
          {{ render_field_with_errors(login_form.email) }}
          {{ render_field_with_errors(login_form.password) }}
          <input class="button-primary" type="submit" name="login" value="Login">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
